<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382000129033-8n6535qft9d8hakuabtn4ogg55mrnnqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382000129033-8n6535qft9d8hakuabtn4ogg55mrnnqb</string>
	<key>API_KEY</key>
	<string>AIzaSyAuxhobKXyfAOgYO9q7s91rnaE73d8LkcA</string>
	<key>GCM_SENDER_ID</key>
	<string>382000129033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.politicalPartiesBrazil</string>
	<key>PROJECT_ID</key>
	<string>partidos-app-e50f7</string>
	<key>STORAGE_BUCKET</key>
	<string>partidos-app-e50f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382000129033:ios:07398eebab68e80624c4d8</string>
</dict>
</plist>